@model WSAD_Project.Areas.Admin.Models.ViewModels.ManageUser.SessionListByUserViewModel

@{
    ViewBag.Title = "SessionListByUser";
}

<p id="page_title">
    Registered Sessions for: <span id="page_title_name">@Model.UserName <small>(@Model.FirstName @Model.LastName)</small></span>
</p>

<div id="page_search">
    <label>Register User For Another Session:</label>
    @Html.TextBox("SessionSearch", null, new { placeholder = "Type Session Title To Search", @class = "form-control" })
</div>

<table class="table">
    <tr>
        <th>
            SessionTitle
        </th>
        <th>
            Date Registered
        </th>
        <th></th>
    </tr>

    @for (int i = 0; i < Model.UserSessionItems.Count(); i++)
    {
        var item = Model.UserSessionItems[i];
        <tr>
            <td>
                @Html.HiddenFor(x => Model.UserSessionItems[i].SessionId)
                @Html.DisplayFor(x => Model.UserSessionItems[i].SessionTitle)
            </td>
            <td>
                @Html.DisplayFor(x => Model.UserSessionItems[i].DateRegistered)
            </td>
            <td>
                @Html.ActionLink("Delete", "RemoveSessionFromUser", "ManageUsers", new { area = "Admin", userId = Model.UserId, sessionId = item.SessionId }, null)
            </td>
        </tr>
    }

</table>

<span>&nbsp;</span>
@(Html.ActionLink("Back to List", "Index", "ManageUsers", null, new { @class = "btn btn-warning" }))


@section scripts{
    @Scripts.Render("~/bundles/jqueryui")
    <script>
        $(function () {
            $("#SessionSearch").autocomplete({
                source: "@(Url.Content("~/api/SessionSearch"))",
                minLength: 1,
                select: function (event, ui) {
                    var sessionId = ui.item.SessionId;
                    window.location =
                        "@(Url.Action("AddSessionToUser", new { userId = Model.UserId }))" +
                        "&sessionId=" + sessionId;
                }
            })
            .autocomplete("instance")._renderItem = function (ul, item) {
                return $("<li>")
                    .append("<a>" + item.SessionTitle + "</a>")
                    .appendTo(ul);
            };
        });
    </script>
}
