
@{
    ViewBag.Title = "Login";
}

<p id="page_title">
    Login
</p>

@if (TempData["LoginMessage"] != null && TempData["LoginMessage"].ToString() != string.Empty)
{
    <div class="alert alert-warning">
        <span class="glyphicon glyphicon-remove-circle"></span>
        @TempData["LoginMessage"]
    </div>
}

@if (TempData["LogoutMessage"] != null && TempData["LogoutMessage"].ToString() != string.Empty)
{
    <div class="alert alert-warning">
        <span class="glyphicon glyphicon-remove-circle"></span>
        @TempData["LogoutMessage"]
    </div>
}



@using (Html.BeginForm("Login", "Account", new { ReturnUrl = Request.QueryString["ReturnUrl"] }, FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <p>
        @Html.TextBox("username", null, new { placeholder = "Enter User Name", @class = "form-control" })
    </p>

    <p>
        @Html.Password("password", null, new { placeholder = "Enter Password", @class = "form-control" })
    </p>

    <p>
        <button type="submit" name="login" class="btn btn-success">Sign In</button>
        @(Html.ActionLink("Create an Account", "Create", "Account", null, null))
    </p>
}
