@model WSAD_Project.Models.ViewModels.Session.SessionDetailsViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Session Details</h2>

@using (Html.BeginForm("AddSessionToOrder", "ShoppingCart"))
{
    @Html.AntiForgeryToken()

    <button type="submit" class="btn btn-danger">Add Session To Shopping Cart</button>
    <span>&nbsp;</span>
    @(Html.ActionLink("Back to List", "Index", "Session", null, new { @class = "btn btn-success" }));

    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.HiddenFor(model => model.Id)
                @Html.DisplayNameFor(model => model.Title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Address)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Address)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Room)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Room)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Time)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Time)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PresenterNames)
            </dt>
            <dd>
                @if (Model.PresenterNames.Count > 0)
                {
                    for (int i = 0; i < Model.PresenterNames.Count(); i++)
                    {
                        @* display presenter names on their own line *@
                        if (i > 0) { <br /> }
                        @Html.DisplayFor(model => model.PresenterNames[i])
                    }
                }
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Occupancy)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Occupancy)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.RemainingSeats)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.RemainingSeats)
            </dd>

        </dl>
    </div>

    <button type="submit" class="btn btn-danger">Add Session To Shopping Cart</button>
    <span>&nbsp;</span>
    @(Html.ActionLink("Back to List", "Index", "Session", null, new { @class = "btn btn-success" }));
}