@model List<WSAD_Project.Models.ViewModels.Session.SessionViewModel>

@{
    ViewBag.Title = "Index";
}

<p id="page_title">
    Available Sessions
</p>

@if (TempData["RegisterSessionMessage"] != null)
{
    if (TempData["RegisterSessionMessage"].ToString() == "SUCCESS")
    {
        <div class="alert alert-success">
            <span class="glyphicon glyphicon-ok-circle"></span>
            SUCCESS: YOUR SESSION INFORMATION HAS BEEN UPDATED
        </div>
    }
    else if (TempData["RegisterSessionMessage"].ToString() != string.Empty)
    {
        <div class="alert alert-danger">
            <span class="glyphicon glyphicon-remove-circle"></span>
            PROBLEM: @TempData["RegisterSessionMessage"].ToString()
        </div>
    }
}

@using (Html.BeginForm("AddSessionListToOrder", "ShoppingCart"))
{
    @Html.AntiForgeryToken()

    <p>
        <button type="submit" class="btn btn-success">Add Selected Sessions To Shopping Cart</button>
        <span>&nbsp;</span>
        @(Html.ActionLink("Clear Selections", "Index", "Session", null, new { @class = "btn btn-danger" }))
        <span>&nbsp;</span>
        @(Html.ActionLink("View Registered Sessions", "Schedule", "Session", null, new { @class = "btn btn-warning" }))
    </p>

    <table class="table">
        <tr>
            <th>
                &nbsp;
            </th>
            <th>
                Title
            </th>
            <th></th>
        </tr>

        @for (int i = 0; i < Model.Count; i++)
        {
            var item = Model[i];
            <tr>
                <td>
                    @Html.HiddenFor(x => Model[i].Id)
                    @Html.CheckBoxFor(x => Model[i].IsSelected)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", "Session", new { id = item.Id }, null)
                </td>
            </tr>
        }

    </table>

    <button type="submit" class="btn btn-danger">Add Selected Sessions To Shopping Cart</button>
    <span>&nbsp;</span>
    @(Html.ActionLink("Clear Selections", "Index", "Session", null, new { @class = "btn btn-warning" }));
    <span>&nbsp;</span>
    @(Html.ActionLink("View Registered Sessions", "Schedule", "Session", null, new { @class = "btn btn-success" }));
}