@model List<WSAD_Project.Areas.Admin.Models.ViewModels.ManageSession.ManageSessionsViewModel>

@{
    ViewBag.Title = "Manage Session Index";
}

<h2>Manage Sessions</h2>

@using (Html.BeginForm("Delete", "ManageSessions"))
{
    @Html.AntiForgeryToken()

    <p>
        <button type="submit" class="btn btn-danger">Delete Selected Sessions</button>
        <span>&nbsp;</span>
        @(Html.ActionLink("Create New Session", "Create", "ManageSessions", null, new { @class = "btn btn-success" }))
    </p>

    <table class="table">
        <tr>
            <th>
                &nbsp;
            </th>
            <th>
                Title
            </th>
            <th></th>
        </tr>


        @for (int i = 0; i < Model.Count; i++)
        {
            var session = Model[i];
            <tr>
                <td>
                    @Html.HiddenFor(x => Model[i].SessionId)
                    @Html.CheckBoxFor(x => Model[i].IsSelected)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => session.Title)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", "ManageSessions", new { sessionId = session.SessionId }, null) | 
                    @Html.ActionLink("Registered Users", "UserListBySession", "ManageSessions", new { area = "Admin", sessionId = session.SessionId }, null)
                </td>
            </tr>
        }
   
    </table>

    <button type="submit" class="btn btn-danger">Delete Selected Sessions</button>
    <span>&nbsp;</span>
    @(Html.ActionLink("Create New Session", "Create", "ManageSessions", null, new { @class = "btn btn-success" }));
    }