@model WSAD_Project.Areas.Admin.Models.ViewModels.ManageSession.UserListBySessionViewModel

@{
    ViewBag.Title = "UserListBySession";
}

<p id="page_title">
    Registered Users For Session: <span id="page_title_name">@Model.SessionTitle</span>
</p>

<div id="page_search">
    <label>Register Another User For Session:</label>
    @Html.TextBox("UserSearch", null, new { placeholder = "Type User Name To Search", @class = "form-control" })
</div>

<table class="table">
    <tr>
        <th>
            User
        </th>
        <th>
            First Name
        </th>
        <th>
            Last Name
        </th>
        <th>
            Date Registered
        </th>
        <th></th>
    </tr>

    @for (int i = 0; i < Model.SessionUserItems.Count(); i++)
    {
        var item = Model.SessionUserItems[i];
        <tr>
            <td>
                @Html.HiddenFor(x => Model.SessionUserItems[i].UserId)
                @Html.DisplayFor(x => Model.SessionUserItems[i].UserName)
            </td>
            <td>
                @Html.DisplayFor(x => Model.SessionUserItems[i].FirstName)
            </td>
            <td>
                @Html.DisplayFor(x => Model.SessionUserItems[i].LastName)
            </td>
            <td>
                @Html.DisplayFor(x => Model.SessionUserItems[i].DateRegistered)
            </td>
            <td>
                @Html.ActionLink("Delete", "RemoveUserFromSession", "ManageSessions", new { area = "Admin", userId = item.UserId, sessionId = Model.SessionId }, null)
            </td>
        </tr>
    }

</table>

<span>&nbsp;</span>
@(Html.ActionLink("Back to List", "Index", "ManageSessions", null, new { @class = "btn btn-warning" }))



@section scripts{
    @Scripts.Render("~/bundles/jqueryui")
    <script>
        $(function () {
            $("#UserSearch").autocomplete({
                source: "@(Url.Content("~/api/UserSearch"))",
                minLength: 1,
                select: function (event, ui) {
                    var userId = ui.item.UserId;
                    window.location =
                        "@(Url.Action("AddUserToSession", new { sessionId = Model.SessionId }))" +
                        "&userId=" + userId;
                }
            })
            .autocomplete("instance")._renderItem = function (ul, item) {
                return $("<li>")
                    .append("<a>" + item.UserName + "<small> (" + item.FirstName + " " + item.LastName + ") </small></a>")
                    .appendTo(ul);
            };
        });
    </script>
}
